
/* tag selectors */
html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-bottom: 120px; /* Margin bottom by footer height + 60 to create container padding*/
  }

  section{
    margin-top: 60px;
}

h1{
    font-size: 6em;
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin: 20px;
    color:#a6aba6;
}

h2{
    font-family: 'Staatliches', cursive;
    text-align: center;
    color:#152617;
    margin: auto;
}

p{
    color: #333;
    margin: 40px;
    text-align: center;
}

i{
    font-size: 2em;
    color: #152617;
}

a{
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

li {
    margin: 15px;
}

/* class selectors */

.navbar-brand{
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
    margin: 0;
    padding: 3px 6px 3px 6px;
    border: 1px solid #555 ;
     
}

.jumbotron{
    background-image: url("botany.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 0px;

}

.avi {
    margin: 20px;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.about-me{
    padding: 0px;
    margin-top: 60px;
}


.card-body{
    border: solid 1px #ddd;
   
}

.card {
    margin: 10px;
}

.btn {
    background-color: #555;
    border: #555;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
    background-color:#152617;
    text-align: center;
    margin-top: 50px;
  }


