.pink-dust {
  background-image: url("pink dust.png");
}
/* tag selectors */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 140px; /* Margin bottom by footer height + 60 to create container padding*/
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px;
  text-align: center;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#about h1,
#contact h1,
h2 {
  color: #3e3c3d;
}

#intro,
#portfolio h1 {
  color: white;
}

hr {
  border: 1px solid #db2344;
}
#nav-logo {
  color: #db2344;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  padding: 2px;
}
.avi {
  max-width: 175px;
}

.cv-btn {
  background-color: #3e3c3d;
  text-transform: uppercase;
  font-weight: 600;
}
.footer {
  background-color: #3e3c3d;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer ul {
  list-style: none;
  display: flex;
  font-size: 2.5em;
  padding-left: 0px;
}

.footer li a {
  color: #db2344;
  margin: 15px;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}
.card-text {
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(83, 79, 79, 0.9);
}

.project-card:hover .overlay {
  opacity: 1;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text a {
  color: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
.text a:hover {
  text-decoration: none;
  color: whitesmoke;
}

.card-text a {
  color: #db2344;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.dot {
  height: 10px;
  width: 10px;
  /* background-color: #db2344; */
  border-radius: 50%;
  display: inline-block;
}

.html-div,
.css-div,
.js-div,
.bootstrap-div,
.mdb-div,
.node-div,
.react-div {
  color: #3e3c3d;
}
